* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-repeat: no-repeat;
}

.hlavnipanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

img {
  width: 350px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

section {
  background-color: #283e50;
  color: white;
  width: 350px;
  height: 270px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 42px;
}

p {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 5px;
}

a {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

.pravidla {
  border: 5px solid, #1fcca4;
  background-color: #1fcca4;
  color: white;
  width: 350px;
  height: 50px;
}

a.pravidla:hover {
  background-color: #1cbb96;
}

.zacatek {
  border: 5px solid, #0197f6;
  background-color: #0197f6;
  color: white;
  width: 350px;
  height: 50px;
}

a.zacatek:hover {
  background-color: #0090e9;
}
